<h2 class="title is-5 m-5">Your Blog Posts:</h2>

<section>

    {{#if user.BlogPosts}}
    <div class="m-5 columns is-multiline">
        {{#each user.BlogPosts}}
        <a href="/post/{{id}}">
            <div class="column is-one-third">
                <div class="box">
                    <h5>{{title}} </h5> <br>
                    <p>{{content}} </p> <br>
                    <p>{{date}} </p> <br>

                    <footer class="is-flex is-justify-content-center is-align-items-center">
                        <a href="/edit/{{id}}" class="m-2 button is-success is-rounded">Edit</a>

                        <form action="/remove/{{id}}?_method=DELETE" method="POST">
                            <button class="m-2 button is-success is-rounded" type="submit">Delete</button>
                        </form>
                    </footer>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{else}}
    <p>no post ...yet</p>
    {{/if}}

</section>