<h2 class="text-center margin">The Ultimate Digital Digest</h2>

<section>
    <h1>Welcome to the Homepage!</h1>

    {{#if posts.length}}

    <h3>All Blog Posts:</h3>

    <div class="grid">
        {{#each posts}}
        <div class="cell">
            <h5>Title: {{title}}</h5>
            <p>Content: {{content}} </p>
            <p>Author: {{User.username}} </p>
            <p>Created At: {{createdAt}} </p>
            <a href="#" class="button is-info is-rounded">Comment</a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No blog posts available.</p>
    {{/if}}
</section>